<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hebaiyi.www.katakuri">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".activity.KatakuriActivity"
            android:launchMode="singleTask"
            android:theme="@style/katakuri_theme">
        </activity>
        <activity android:name=".activity.PerViewActivity"
            android:launchMode="singleTask"
            android:theme="@style/katakuri_theme">
        </activity>
    </application>

</manifest>